/* 1. Estilo general del cuerpo */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto; /* Esto centra todo el contenido */
    padding: 20px;
    background-color: #c5e9ef;
}

/* 2. Estilo de los títulos */
h1, h2 {
    color: #067aed;
    border-bottom: 2px solid #ecf0f1;
}

/* 3. Haz que la tabla se vea profesional */
table {
    width: 100%;
    border-collapse: collapse; /* Quita el espacio doble entre bordes */
    margin: 20px 0;
    background: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
tbody tr:hover {
    background-color: #d1ecf1; 
    transition: 0.3s;
} 


th {
    background-color: #3498db;
    color: white;
}

/* 4. Dale estilo al Formulario */
fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

button {
    background-color: #10e722;
    cursor: pointer;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px; 
}



button:hover {
    background-color: #2ada76; /* Cambia de color al pasar el mouse */
}